.logo() {
  text-align: center;
  margin-bottom: 24px;
  line-height: calc(72px - 16px - 16px);

  img {
    max-height: 24px;
    margin-right: 6px;
  }
}

.master-layout {
  .ant-layout-sider {
    width: 212px;
    max-width: 212px;
    min-width: 212px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    &-children {
      padding: 16px;

      .logo {
        .logo();
      }

      .ant-menu {
        border: none;

        &-item {
          padding: 6px 12px !important;
          height: 48px;

          &-icon {
            width: 24px;
            height: 24px;
          }

          .ant-menu-title-content {
            margin-left: 12px;
          }
        }
      }
    }
  }

  .ant-layout-header {
    padding: 0px 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 72px;
    gap: 4px;

    .ant-breadcrumb {
      line-height: 72px;
    }

    .ant-avatar {
      &-string {
        line-height: 24px !important;
      }
    }
  }

  .action-container {
    text-align: right;
    margin-bottom: 20px;
  }
}

.master-layout-drawer {
  .ant-drawer-header-title {
    flex-direction: row-reverse;

    .ant-drawer-close {
      margin: 0px;
    }

    .logo {
      .logo();

      margin-bottom: 0px;
      line-height: unset;
    }
  }

  .ant-drawer-body {
    padding-top: 6px;
    padding-bottom: 6px;

    .ant-menu {
      border-inline-end: none !important;
    }
  }
}
